.card-section {
  margin: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  .card {
    background: #fff;
    width: 21rem;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 5px 5px 20px -10px rgba(125, 125, 125, 1);
    ul {
      margin: 0;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      li {
        text-align: left;
        font-size: 1.2rem;
        list-style: none;
        margin: 0.5rem 0.2rem;
        margin-left: 2rem;
      }
    }
    .btnalike {
      background-color: $text-color;
      padding: 0.3rem;
      width: 7rem;
      margin: 1rem auto;
      a {
        color: $light;
        text-decoration: none;
      }
    }
  }
}
